.mat-raised-button {
  width: 50%;
  margin-top: 20px;
  float: right;

}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 15%;
}

.app-footer {
  margin-top: 10px;
}
